*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-conatiner{
    position: absolute;
    background-color: #0A6190;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 9px 6px 12px 0 rgba(0, 0, 0, 0.5); 
    overflow: hidden;
}

.circle-1 {
    background-color: #328FC1;
    border-radius: 50%;
    width: 165px;
    height: 152px;
    position: relative;
    top: -75px;
    left: 120px
}

.circle-2 {
    background-color: #328FC1;
    border-radius: 50%;
    width: 125px;
    height: 120px;
    position: relative;
    top: -65px;
    left: 140px;
}

.mini-circle{
    background-color: #0A6190;
    position: relative;
    top: 32px;
    left: 32px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.circle-3 {
    background-color: #328FC1;
    border-radius: 50%;
    width: 165px;
    height: 152px;
    position: relative;
    top: -52px;
    left: 120px
}